/*
font-family: "TT Commons W03 Regular";
font-family: "TT Commons W01 DemiBold";
*/

html {
    width: 100%;
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    background-color: #ffffff;
}

body {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 0;
    color: #000000;
    font-family: "TT Commons W03 Regular", sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.04em;
    line-height: 1.4;
    background-color: #ffffff;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
    border: 0px;
}


*:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    border: 0px;
    outline: none;
}

a:link {
    /**/
}

a:visited {
    /**/
}

a:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a[href^="tel"] {
    text-decoration: none;
    border: 0px;
    outline: none;
}

div, a, span, p, h1, h2, h3, em {
    box-sizing: border-box;
    border: 0;
}

b, strong, .boldStyle {
    font-family: "TT Commons W01 DemiBold";
    font-weight: normal;
}

h1, h2, h3 {
    margin-top: 0;
}

hr {
    height: 0px;
    border: 0px;
    background-color: #000000;
    border-top: 1px solid #000000;
    margin: 0.5em 0 0.5em 0;
}

ul {
    padding: 0 0 0 1em;
    margin-top: 0;
    box-sizing: border-box;
}

input, select, textarea {
    font-family: "TT Commons W03 Regular", sans-serif;
    font-size: inherit;
}

input, select {
    padding: 12px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 0;
    color: #181831;
    outline: none;
}

select {
    width: 100%;
    height: 45px;
    margin: 0;
    box-sizing: border-box;
    padding: 12px 30px 12px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url(../images/select-arrow-right.png);
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: right 10px top 17px;
    cursor: pointer;
}

select option {
    padding: 10px;
    border: 0;
    outline: 0;
}

select::-ms-expand {
    display: none;
}

select:-moz-focusring {
    border: 0;
    outline: 0;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select:-moz-focus-inner {
    border: 0;
    outline: 0;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    -webkit-appearance: none;
}

input[type="checkbox"] {
    float: left;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    padding: 5px;
    margin: 0 10px 0 0;
}

textarea {
    float: left;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    color: #000000;
    -webkit-appearance: none;
    resize: none;
}

.checkboxStyle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 5px 0;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.checkboxStyle label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    background: transparent none repeat scroll 0% 0%;
    border: 0;
}

.checkboxStyle label::after {
    opacity: 0.1;
    content: "";
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent none repeat scroll 0% 0%;
    top: 3px;
    left: 4px;
    border-width: medium medium 2px 2px;
    border-style: none none solid solid;
    border-color: -moz-use-text-color -moz-use-text-color #dddddd #dddddd;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkboxStyle input[type="checkbox"] {
    width: 20px;
    height: 20px;
    visibility: hidden;
}

.checkboxStyle input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

.autoHyphens {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.noHyphens {
    white-space: nowrap;
    -webkit-hyphens: none !important;
    -moz-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
}

/* ------------- over all ------------ */

.overAllWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 10000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* ------------- loading ani ------------ */
.overAllWrapperLoading {
    background: rgba(255,255,255,0.2);
}

.overAllWrapperLoading--trans {
    background: rgba(255,255,255,0);
}

.loader {
    margin: -2em 0 0 -2em;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    text-indent: -9999em;
    border-top: 0.4em solid rgba(0,0,0,0.5);
    border-right: 0.4em solid rgba(0,0,0,0.5);
    border-bottom: 0.4em solid rgba(0,0,0,0.5);
    border-left: 0.4em solid rgba(0,0,0,1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.nouserSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* desable saving */
    -webkit-touch-callout: none;
}

.noscriptStyle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 2em;
    margin: 0 auto;
    font-size: 1.2em;
    background: -webkit-linear-gradient(90deg,#ff595a,#51c5df);
    background: -o-linear-gradient(90deg,#ff595a,#51c5df);
    background: -moz-linear-gradient(90deg,#ff595a,#51c5df);
    background: linear-gradient(90deg,#ff595a,#51c5df);
    color: #ffffff;
    text-align: center;
    opacity: 0.8;
}

/* IE9 < */
.getNewerbrowser {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 20002;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 0.6em 2em 0.6em 2em;
    margin: 0;
    text-align: center;
    background-color: #ff595a;/*red*/
    color: #ffffff;
    font-size: 0.9em;
}

.getNewerbrowser a {
    color: #ffffff;
}

